.CeStudySet-container {
    position: relative;
}

.CeStudySet-container > .stricky-information {
    background-color: #FFF;
    z-index: 5000;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-shadow: 0 0.25rem 1rem 0 rgb(0 0 0 / 16%);
}

.CeStudySet-container .infomation {
    padding: 24px 0;
    justify-content: space-between
}

.CeStudySet-container .infomation > .title {
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0;
    border-bottom: .3125rem solid #3ccfcf;
}

.CeStudySet-container .wordCards {
    background-color: #f6f7fb;
    min-height: 100vh;
}
.CeStudySet-container .wordCards .wordCard-input {
    border-radius: .5rem;
    cursor: move;
    position: relative;
    background-color: #FFF;
}

.CeStudySet-container .wordCards .wordCard-input > .header {
    display: flex;
    justify-content: space-between;
    padding: .75rem;
    border-bottom: 2px solid #f6f7fb;
}

.CeStudySet-container .wordCards .wordCard-input > .header .drag-icon {
    color: #CCC;
    padding: 0 2.5625rem;
}   

.CeStudySet-container .wordCards .wordCard-input > .header .index {
    color: #939bb4;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .0875rem;
    line-height: 1.5;
}

.CeStudySet-container .wordCards .wordCard-input > .header .delete-icon {
    cursor: pointer;
}

.CeStudySet-container .wordCards .wordCard-input > .header .drag-icon:hover {
    color: #FFCD1F;
}

.CeStudySet-container .wordCards .wordCard-input .input-type {
    padding: 2rem .75rem;
    cursor: initial;
}