.ViewStudySetPage-container .title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem;
    border-bottom: .3125rem solid #3ccfcf;
    padding: 8px 0;
    display: inline-block;
    overflow: auto;
    max-width: 100%;
}

.ViewStudySetPage-container .func > div {
    font-weight: bold;
    padding: .25rem 1rem .25rem .5rem;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
    border-radius: .25rem;
    margin-bottom: .25rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.ViewStudySetPage-container .func > div:active {
    transform: translate(-5px, 5px);
}

.ViewStudySetPage-container .func > div:hover {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    background-color: #ffcd1f;
}

.ViewStudySetPage-container .func i {
    color: #4257b2;
    font-size: 1.25rem;
}

.ViewStudySetPage-container .author .user-info-container > .avata {
    width: 64px;
    height: 64px;
}

.ViewStudySetPage-container .author .user-info-container > .text-user-info {
    white-space: nowrap;
}

.ViewStudySetPage-container .description {
    color: #AAA;
    overflow: auto;
    word-wrap: break-word;
}

.ViewStudySetPage-container > .wordCarts {
    background-color: #f6f7fb;
    padding: 2rem 0;
}

.ViewStudySetPage-container > .wordCarts .info {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.ViewStudySetPage-container > .wordCarts .list {
    font-weight: bold;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    margin-bottom: 1rem;
}

.ViewStudySetPage-container > .wordCarts .list:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.ViewStudySetPage-container > .wordCarts .list .index,
.ViewStudySetPage-container > .wordCarts .list .term,
.ViewStudySetPage-container > .wordCarts .list .definition {
    overflow: auto;
}

.ViewStudySetPage-container > .wordCarts .list .index {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ViewStudySetPage-container > .wordCarts .list .tern-container {
    border: 1px solid #DDD;
    border-bottom: 0;
    border-top: 0;
}

@media (max-width: 576px) {
    .ViewStudySetPage-container > .wordCarts .list .tern-container {
        border: 1px solid #DDD;
        border-left: 0;
        border-right: 0;  
    }
}