.WordCartSlide-container {
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    border-radius: 1rem;
}

.WordCartSlide-container:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.WordCartSlide-container > .carousel-inner {
    border-radius: 1rem;
}

.WordCartSlide-container .item-front,
.WordCartSlide-container .item-back {
    display: flex;
    min-height: 340px;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.WordCartSlide-container .item-front > div,
.WordCartSlide-container .item-back > div {
    font-weight: bold;
    font-size: 3rem;
    margin: auto;
}